
.container-fluid , .row, .col-sm-6, html, body {

height: 100%;

}

.btn .btn-default .btn-block input:hover{ 
	background-color: #B4E7F8;
	color: gray;
}

#hero {
  background: url(/assets/images/profile.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover1;

}

#headline {
  margin-top: 50px;
}